.app-magazine{
  border: 0;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.app-magazine-btn{
  display: block;
  box-sizing: border-box;
  position: relative;
  border: 0;
  align-self: center;
  transform: translateY(-50%);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.app-magazine-content{
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}

.magazine {
  border: 0;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
}

.magazine .page {
  height: 100%;
}

.magazine .page img {
  max-width: 100%;
  height: 100%;
}

.magazine.myhide {
  visibility: hidden !important;
}
